<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Pusthak"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Abc">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".saved_notes"></activity>
        <activity android:name=".Dairy_main"></activity>
        <activity android:name=".write_diary"></activity>
        <activity android:name=".StickyNote"></activity>
        <activity android:name=".Remclass"></activity>
<receiver android:name=".Notepad" android:label="abc">
    <intent-filter>
        <action android:name="android.appwideget.action.APPWIDGET_UPDATE"/>


    </intent-filter>
    <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/notepad_widget_info"/>
</receiver>
        <receiver android:name=".AlarmReceiver"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>